@media (max-width: 1399px) {
    .main_container_detail_data_after_header{
      width: 630px;
      margin-top: 60px;
    }
    .extra_tab{
        display: none;
    }
  }
  @media (min-width: 1400px) {
    .main_container_detail_data_after_header{
        padding-left: 85px;
        padding-right: 100px;
        margin-top: 116px;
    }
  }
  @media (max-width: 660px) {
    .main_container_detail_data_after_header{
      width: 100%;
    }
  }
  
  
  
  